:root {
  --background-color: #1e3851;
  --font-color: #d3e1ef;
  --form-font-color: #000000;
  --nav-link-color: #e5e6e8;
  --input-background-color: #ffffff;
  --active-background-color: #273133;
  --devname-color: #273133;
  --devname-size: 50px;
  --sidenav-width: 10%;
  --margin-h1: 10px;
  --margin-h2: 20px 0;
  --font-size: 20px;
  --h2-font-size: 200%;
}

/* Vertical alignment adjustment */
.hero {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.hero-banner {
  width: 100%;
  overflow: hidden;
}

.hero {
  width: 100%;
  height: auto;
}

/* Style for the hero banner content */
.hero-content {
  text-align: center;
  padding: 0px;
}

body * {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: var(--margin-h1);
}

h2 {
  font-size: var(--h2-font-size);
  margin: var(--margin-h2);
}

img {
  max-width: 100%;
}

#devname {
  color: var(--devname-color);
  font-size: var(--devname-size);
}

/* styling of side navigation bar */
.sidenav {
  height: 100%;
  width: var(--sidenav-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.sidenav a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6px 6px 6px 16px;
  text-decoration: none;
  font-size: var(--font-size);
  color: var(--nav-link-color);
  display: block;
}

.sidenav a:hover {
  color: var(--font-color);
}

.sidenav a:active {
  background-color: var(--active-background-color);
  color: var(--font-color);
}

main {
  margin-left: var(--sidenav-width);
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 100%;
  }

  main {
    margin-left: 0;
  }
}

.sidenav #navigation {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .sidenav a {
    padding: 12px 12px 12px 32px;
  }
}

.about-me p {
  padding: 0 30px 0 30px;
}

.project-other {
  display: flex;
  flex-wrap: wrap;
}

.project-other figure,
.project-main figure {
  border: 0.5px dotted var(--nav-link-color);
  padding: 5px;
}

.project-other figure {
  width: 33%;
  margin: 0;
  justify-content: flex-start;
}

.project-other figure img {
  width: 100%;
}

/* Contact links */

/* Contact section */
#contact {
  text-align: center; /* Center align the content */
}

.contact-heading {
  margin-bottom: 20px; /* Add some space below the heading */
}

.contact-buttons {
  display: flex;
  justify-content: center;
}

.contact-btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #222b35; /* Button color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #0056b3; /* Hover color */
}


.footer {
  height: 50px;
}

@media screen and (max-width: 992px) {
  .project-other figure {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .project-other {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* Contact Form */
  #contact-form {
    justify-content: center;
    align-items: center;
  }

  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
  }

  .sidenav #my-picture {
    max-width: 200px;
  }

  .sidenav a {
    float: left;
  }

  main {
    margin-left: 0;
  }
}

.images {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
}

/* Specific styling for each grid item */
.first-row {
  grid-column: span 4;
  grid-row: 1;
}

.second-row {
  grid-column: span 2;
  grid-row: 2;
}

.third-row {
  grid-column: span 2;
  grid-row: 3;
}

.grid-item img {
  width: 100%;
  object-fit: cover;
}

.grid-item-content {
  position: relative;
}

.image-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  font-size: 30px; /* Adjusted font size */
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
  }

  .sidenav a {
    padding: 12px 12px 12px 32px;
  }

  main {
    margin-left: 0;
  }
}
